nav>ul {
    display: flex;
    justify-content: space-around;
    width: 50%;
    list-style-type: none;
}

nav>img {
    width: 100px;
    height: 70px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: rgb(192, 230, 246);
    position: fixed;
    width: 100%;
}

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

nav>ul>a {
    text-decoration: none;

}

nav>ul>a:hover {
    color: rgb(255, 255, 255);
}

nav>ul>a:active {
    color: rgb(255, 0, 0);
}

.navicon {
    margin-right: 10px;

}

.dropdowncontent {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: rgb(243, 210, 210);
    min-width: 120px;
    padding-top: 10px;
    border-radius: 10px;
}

.dropdown-button {
    cursor: pointer;
}



.dropdown {
    display: inline-block;
}

.dropdowncontent a {
    display: block;
    text-align: center;
    color: rgb(78, 0, 88);
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    font-style: italic;
}

.dropdown:hover .dropdowncontent {
    display: block;

}

.dropdowncontent a:hover {
    background-color: rgb(199, 153, 153);

}
#img{
    background-image: url("./images.jpeg");
    background-size: cover;
    height: 600px;
    background-attachment: fixed;
    padding: 350px;
    
}
#img>h1{
    color: rgb(0, 0, 0);
    text-align: center;
}
#ABOUT{
    color: rgb(41, 0, 79);
    max-width: 700px;
    margin: auto;
    padding: 50px 50px;
    font-style: italic;
}
footer{
    background-color: rgba(53, 47, 47, 0.932);
    height: 300px;
   display: flex;
   justify-content: space-between;
   padding: 50px;
}
.loc{
    margin: 0px 20px 20px 40px;

}
.edit{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 30px;
}
#span{
    color: rgb(100, 100, 255);

}
#span:hover{
    color: rgb(97, 97, 173);
}
.edit2{
   
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 30px;

}
.para{
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding-top: 20px;
}
.fb{
    padding-top: 40px;
    font-size: 30px;
    color: white;
}
.tw{
    padding-left: 35px;
    font-size: 30px;
}
.in{
    padding-left: 35px;
    font-size: 30px; 
}
.ln{
    padding-left: 35px;
    font-size: 30px; 
}
.whatsapp{
    right: 0px;
    position: fixed;
    z-index: 1;
    bottom: 100px;
}
.ed{
    font-size: 50px;
}

